.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.key
*.pem
*.crt
*.so
*.csv
*.pkl
*.swo
*.swp
*.egg
*.bak
lib/
lib64/
t2yLLM/porcupine
t2yLLM/memory
__pycache__
t2yLLM.egg-info
t2yLLM/plugins/yeelightConfig.yaml
*.key
Caddyfile
t2yLLM/config/Caddyfile
